.header {
  max-width: 1240px;
  margin: auto;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  &__navBar {
    width: 309px;
    display: flex;
    justify-content: end;
    gap: 57px;
  }
}

.active {
  text-decoration: underline;
}

@media (max-width: 1240px) {
  .header {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0 27px 0;
    &__logo {
      width: 145px;
    }
    &__navBar {
      gap: 26px;
      text-transform: uppercase;
    }
  }
}
