.slider {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  &__content {
    border-radius: 25px;
    display: flex;
    align-items: center;
    height: 415px;
    overflow: hidden;
  }
  &__picture {
    transition: transform 0.5s ease;
    &:not(.hidden) {
      display: none;
    }
    & img {
      width: 100%;
      height: auto;
      border-radius: 25px;
    }
  }
  & p {
    position: absolute;
    bottom: 24px;
    left: 50%;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  .arrow {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .left {
    left: 24px;
  }

  .right {
    right: 24px;
  }
}

@media (max-width: 768px) {
  .slider {
    margin-bottom: 15px;
    &__content {
      height: 255px;
      border-radius: 10px;
    }
    & p {
      display: none;
    }
    &__picture {
      & img {
        border-radius: 10px;
      }
    }
    & .arrow {
      & img {
        width: 12px;
      }
    }
    & .left {
      left: 0;
      width: 24px;
      height: 24px;
    }
    & .right {
      right: 0;
      width: 24px;
      height: 24px;
    }
  }
}
