.tag {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 85px;
  padding: 3px 15px;
}
