.banner-aboutUs {
  .banner {
    // Setting the banner background image
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../../../assets/images/background_about-us.png), no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.collapse-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .collapse-list {
    width: 100%;
    gap: 20px;
    margin-bottom: 19px;
    min-height: 60vh;
  }
}
