.banner-aboutUs {
  .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../../../assets/images/background_about-us.png), no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.collapse-liste {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
