.banner-home {
  .banner {
    // Setting the banner background image
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../../assets/images/background_home.png), no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 16px;
    &__title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 48px;
      font-weight: 700;
    }
  }
}

.card_container {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
  margin-bottom: 50px;
}

@media (max-width: 1240px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card_container {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 27px;
    gap: 22px;
    background-color: transparent;
  }

  .banner-home {
    .banner {
      &__title {
        font-size: 24px;
      }
    }
  }
}
