// Components
@use '../style/components/Footer.scss';
@use '../style/components/Header.scss';
@use '../style/components/Error.scss';
@use '../style/components/Banner.scss';
@use '../style/components/Card.scss';
@use '../style/components/Collapse.scss';
@use '../style/components/Slider.scss';

// Pages
@use '../style/pages/Home.scss';
@use '../style/pages/AboutUs.scss';
@use '../style/pages/AccommodationPages.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Design System
:root {
  // Colors
  --primary-color: #ff6060;
}
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
  font-weight: 500;
}
main {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
