@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Components
@import '../style/components/Footer.scss';
@import '../style/components/Header.scss';

// Design System
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
